<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="{% url 'home'%}">на главную</a></h3>
<h3>текущий проект: {{ curent_project }}</h3>




<form action="" method="POST">
    {% csrf_token %}

    <div align="right">
        <button type="submit" name="menu" value='delite_project'>удалить проект</button>
    </div>

    <button type="submit" name="menu" value='select_project'>выбрать проект</button>
    <button type="submit" name="menu" value='project_user'>добавить учасников в проект</button>
    <button type="submit" name="menu" value='group'>добавить группы</button>
    <button type="submit" name="menu" value='user_group'>добавить участников группы</button>
    <button type="submit" name="menu" value='board'>добавить доску</button>
    <button type="submit" name="menu" value='board_user'>добавить учасников доски</button>
    <button type="submit" name="menu" value='task'>добавить задачу</button>


</form>
</body>
</html>