<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="{% url 'home'%}">на главную</a></h3>
<h3>текущий проект: {{ curent_project }}</h3>




<form action="" method="POST">
    {% csrf_token %}


{% if select == None %}

    <div align="right">
        <button type="submit" name="mod" value='select_project'>выбрать проект</button>
    </div>

        <button type="submit" name="mod" value='group'>группа</button><br><br>
        <button type="submit" name="mod" value='board'>доска</button><br><br>
        <button type="submit" name="mod" value='task'>задача</button>


{% elif select == 'group' %}


    <button type="submit" name="mod" value='create_group'>создать группу</button><br><br>
    <button type="submit" name="mod" value='add_user_group'>добавить учасников в группу</button><br><br>
    <button type="submit" name="mod" value='display_groups'>посмотреть группы</button><br><br>


{% elif select == 'board' %}

    <button type="submit" name="mod" value='create_board'>создать доску</button><br><br>
    <button type="submit" name="mod" value='add_board_user'>добавить учасников в доску</button><br><br>
    <button type="submit" name="mod" value='display_boards'>посмотреть доски</button><br><br>


{% elif select == 'task' %}

    <button type="submit" name="mod" value='create_task'>создать задачу</button><br><br>
    <button type="submit" name="mod" value='display_tasks'>посмотреть задачи</button><br><br>

{% endif %}
</form>

</body>
</html>